---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Layout from '../../layouts/Layout.astro';

const subTitle = SITE_TITLE + ' | vlogs';
const subDescription = `${SITE_DESCRIPTION} | vlogs updated`;
---

<Layout title={subTitle} description={subDescription}>
  <main>
    <aside>
      <h3>All videos</h3>
      <ul>
        <li>Angular (1)</li>
        <li>HTML (3)</li>
        <li>Effect (4)</li>
      </ul>
    </aside>
  </main>
</Layout>
