
/* TODO: css 'from', how it works if useful

:root {
  --base: #556bdd;
  --swatch1: hsl(from var(--base) h s 0%);
  --swatch2: hsl(from var(--base) h s 25%);
  --swatch3: hsl(from var(--base) h s 50%);
  --swatch4: hsl(from var(--base) h s 75%);
  --swatch5: hsl(from var(--base) h s 100%);
} */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --white: white;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

::selection {
  background-color: #352e7e;
  color: #fff;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Atkinson', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}

main {
  width: 960px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: rgb(var(--black));
}

a:hover {
  color: rgb(var(--gray));
}

p {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 16px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.youtube-frame {
  width: 100%;
  height: 550px;
}

.glossary-yt-frame {
  width: 100%;
  height: 360px;
}

.primary-button {
  width: 100px;
  background-color: rgb(var(--gray));
  color: var(--white);
  padding: 8px;
  border-radius: 5px;
  border-color: rgb(var(--gray));
  cursor: pointer;
  border: 0px;
}

.primary-button:hover {
  background-color: rgb(var(--gray-dark));
}

.primary-button:active {
  opacity: 0.9;
}

.primary-button a {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 720px) {
  .youtube-frame {
    height: 215px;
  }
}


  /* Dark */

body.dark,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark .title,
body.dark .header,
body.dark footer,
body.dark span,
body.dark li,
body.dark ul,
body.dark ol,
body.dark footer,
body.dark header,
body.dark nav,
body.dark .toggle-button,
body.dark .DocSearch-Button {
  background: rgb(58, 58, 58);
  color: white;
  transition:color 2s;
}