---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import StripeList from '../components/StripeList.astro';
const subTitle = SITE_TITLE + ' | inspring items';
const subDescription = `${SITE_DESCRIPTION} | latest update`;

const talks = await getCollection('talk');
const videos = await getCollection('video');

const latestVideos = [...talks, ...videos].sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<Layout title={subTitle} description={subDescription}>
  <main>
    <h1>Latest</h1>
    <section>
      <StripeList videoContents={latestVideos} />
    </section>
  </main>
</Layout>
