---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';

const subTitle = SITE_TITLE + ' | inspring talks';
const subDescription = 'talks';
---

<Layout title={subTitle} description={subDescription}>
  <main>
    <h1>Latest</h1>
  </main>
</Layout>
