---
import type { CollectionEntry } from 'astro:content';

import type { ContentKeys } from '../model/model';
import Article from './Article.astro';

interface Props {
  readonly articles: readonly CollectionEntry<ContentKeys>[];
}

const { articles } = Astro.props;
---

<ul class='list'>
  {
    articles.map((article) => (
      <li class='article'>
        <Article article={article} />
      </li>
    ))
  }
</ul>

<style>
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .article {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    border: 1px solid rgb(var(--gray));
  }

  .article:hover {
    box-shadow: var(--box-shadow);
  }
</style>
