---
import type { CollectionEntry } from 'astro:content';

import type { ContentKeys } from '../model/model';
import Blog from './Blog.astro';

interface Props {
  readonly blogs: readonly CollectionEntry<ContentKeys>[];
}

const { blogs } = Astro.props;
---

<ul class='list'>
  {
    blogs.map((blog) => (
      <li class='blog'>
        <Blog blog={blog} />
      </li>
    ))
  }
</ul>

<style>
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .blog {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    border: 1px solid rgb(var(--gray));
  }

  .blog:hover {
    box-shadow: var(--box-shadow);
  }
</style>
