---
const today = new Date();
---

<footer>
  <div class='container'>
    <div class='info'>
      <div>
        &copy; {today.getFullYear()} Sign Language Tech. All rights reserved.
      </div>
      <div class='social-links'>
        <a href='https://www.youtube.com/@SignLanguageTech' target='_blank'>
          <span class='sr-only'>Sign Language Tech YouTube</span>
          <svg
            height='32px'
            width='32px'
            aria-hidden='true'
            viewBox='0 0 310.00 310.00'
          >
            <path
              fill='currentColor'
              d='M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938 C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527 C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991 c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764 c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861 C204.394,157.263,202.325,160.684,199.021,162.41z'
            ></path>
          </svg>
        </a>
        <a href='https://twitter.com/miladvafaeifard' target='_blank'>
          <span class='sr-only'>Follow Me on Twitter</span>
          <svg viewBox='0 0 16 16' aria-hidden='true' width='32' height='32'
            ><path
              fill='currentColor'
              d='M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z'
            ></path></svg
          >
        </a>
        <a href='https://github.com/miladvafaeifard' target='_blank'>
          <span class='sr-only'>Go to Milad's GitHub</span>
          <svg viewBox='0 0 16 16' aria-hidden='true' width='32' height='32'
            ><path
              fill='currentColor'
              d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z'
            ></path></svg
          >
        </a>
      </div>
    </div>
    <div>
      <ul>
        <li><a href='/privacy-policy' target='_blank'>Privacy Policy</a></li>
        <li><a href='mailto:signlanguagetech@gmail.com'>Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  ul {
    padding-inline-start: 0;
  }

  ul li {
    list-style-type: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 960px;
    max-width: calc(100% - 2em);
    margin: auto;
  }
  .social-links {
    display: flex;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }

  @media (max-width: 720px) {
    .info {
      display: flex;
    }
    .container, .info {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
