---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
  <div class='container'>
    <div class='info'>
      <div>
        &copy; {today.getFullYear()} Sign Language Tech. All rights reserved.
      </div>
      <div class='social-links'>
        <SocialLinks />
      </div>
    </div>
    <div>
      <ul>
        <li><a href='/privacy-policy' target='_blank'>Privacy Policy</a></li>
        <li><a href='mailto:signlanguagetech@gmail.com'>Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  ul {
    padding-inline-start: 0;
  }

  ul li {
    list-style-type: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 960px;
    max-width: calc(100% - 2em);
    margin: auto;
  }
  .social-links {
    display: flex;
    gap: 16px;
    margin-top: 1em;
  }

  @media (max-width: 720px) {
    .info {
      display: flex;
    }
    .container, .info {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (prefers-color-scheme: dark) {
    footer {
      background: rgb(var(--white), 0.03);
      color: rgb(var(--white), 0.5);
    }
  }
</style>
