---
import HeaderLink from './HeaderLink.astro';
import YoututbeIcon from './icons/YoutubeIcon.astro';
import TwitterIcon from './icons/TwitterIcon.astro';
import GitHubIcon from './icons/GitHubIcon.astro';
import SltIcon from './icons/SltIcon.astro';

const maxMobileWidth = 720;
---

<header
  x-data={`{ xOpenMenu: ${false}, width: 1920 }`}
  x-init='width = window.innerWidth'
  x-on:resize.window='width = window.innerWidth'
>
  <nav>
    <h2 class='sub-header'>
      <a class='slt-link' href='/'>
        <SltIcon height='32px' width='32px' />
        <span id='sltText' class='slt-text'>Sign Language Tech</span>
      </a>
      <div class='menu-icon' @click='xOpenMenu = !xOpenMenu'>
        <span x-text="xOpenMenu ? 'X' : '=' "></span>
      </div>
    </h2>
    <div
      :class=`(width < ${maxMobileWidth}) && !xOpenMenu && 'hidden'`
      class='tabs'
    >
      <div class='valami'>
        <HeaderLink href='/video'>Videos</HeaderLink>
        <HeaderLink href='/talk'>Talks</HeaderLink>
        <HeaderLink href='/about'>About</HeaderLink>
      </div>
    </div>
    <div class='social-links'>
      <a href='https://www.youtube.com/@SignLanguageTech' target='_blank'>
        <span class='sr-only'>Sign Language Tech YouTube</span>
        <YoututbeIcon height='32px' width='32px' />
      </a>
      <a href='https://twitter.com/miladvafaeifard' target='_blank'>
        <span class='sr-only'>Follow Me on Twitter</span>
        <TwitterIcon height='32px' width='32px' />
      </a>
      <a href='https://github.com/miladvafaeifard' target='_blank'>
        <span class='sr-only'>Go to Milad's GitHub</span>
        <GitHubIcon height='32px' width='32px' />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    justify-content: center;
  }

  .slt-link {
    display: flex;
    align-items: center;
  }

  .slt-text {
    padding: 0 10px;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  .hidden {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .menu-icon {
    display: none;
  }

  .social-links,
  .social-links a {
    display: flex;
  }

  @media (max-width: 720px) {
    .sub-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 10;
    }

    .social-links {
      display: none;
    }

    .tabs {
      position: absolute;
      width: 100%;
      height: 100%;
      color: white;
      background-color: rgba(9, 9, 11, 0.9);
      top: 70px;
      right: 0;
      z-index: 1;
    }

    .valami {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav a.active {
      border-bottom-color: white;
    }

    .menu-icon {
      display: block;
    }
  }
</style>
