---
import HeaderLink from './HeaderLink.astro';
import YoututbeIcon from './icons/YoutubeIcon.astro';
import TwitterIcon from './icons/TwitterIcon.astro';
import GitHubIcon from './icons/GitHubIcon.astro';
import MenuNavigationIcon from './icons/MenuNavigationIcon.astro';
import CrossIcon from './icons/CrossIcon.astro';
import SltIcon from './icons/SltIcon.astro';
import Search from './Search.astro';
---

<header
  class='header'
  x-data=`{
      toggle() { 
        this.isOpen = !this.isOpen;
        document.body.style.overflow = this.isOpen ? "hidden" : "";
      },
      isOpen: false, 
      width: 1920 
    }`
  x-init='width = window.innerWidth'
  x-on:resize.window='width = window.innerWidth'
>
  <nav class='nav'>
    <h2 class='sub-header'>
      <a class='nav-link slt-link' href='/'>
        <SltIcon height='32px' width='32px' />
        <span class='slt-text'>Sign Language Tech</span>
      </a>
      <div class='menu-icon' @click='toggle'>
        <span x-show='!isOpen'
          ><MenuNavigationIcon height='32px' width='32px' /></span
        >
        <span x-show='isOpen'><CrossIcon height='32px' width='32px' /></span>
      </div>
    </h2>
    <div :class="(width < 720) && !isOpen && 'hidden'" class='tabs-group'>
      <div class='tabs'>
        <HeaderLink href='/video'>Videos</HeaderLink>
        <HeaderLink href='/talk'>Talks</HeaderLink>
        <HeaderLink href='/glossary'>Glossary</HeaderLink>
        <HeaderLink href='/about'>About</HeaderLink>
      </div>
    </div>
    <Search />
    <div class='social-links'>
      <a href='https://www.youtube.com/@SignLanguageTech' target='_blank'>
        <span class='sr-only'>Sign Language Tech YouTube</span>
        <YoututbeIcon height='32px' width='32px' />
      </a>
      <a href='https://twitter.com/miladvafaeifard' target='_blank'>
        <span class='sr-only'>Follow Me on Twitter</span>
        <TwitterIcon height='32px' width='32px' />
      </a>
      <a href='https://github.com/miladvafaeifard' target='_blank'>
        <span class='sr-only'>Go to Milad's GitHub</span>
        <GitHubIcon height='32px' width='32px' />
      </a>
    </div>
  </nav>
</header>

<style>
  .header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    justify-content: center;
  }

  .sub-header {
    margin: 0;
    font-size: 1em;
  }

  .slt-link {
    display: flex;
    align-items: center;
  }

  .slt-text {
    padding: 0 10px;
  }

  .hidden {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
  }

  .nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none !important;
  }

  .nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .menu-icon {
    display: none;
  }

  .social-links,
  .social-links a {
    display: flex;
  }

  @media (max-width: 720px) {
    .sub-header {
      margin: 0;
      font-size: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 10;
    }

    .social-links {
      display: none;
    }

    .tabs-group {
      position: fixed;
      width: 100vw;
      height: 100vh;
      color: white;
      background-color: rgba(9, 9, 11, 0.9);
      top: 70px;
      left: 0;
    }

    .tabs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nav a.active {
      border-bottom-color: white;
    }

    .menu-icon {
      display: block;
    }
  }
</style>
