---
import HeaderLink from "./HeaderLink.astro";
import YoututbeIcon from "./icons/YoutubeIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import SltIcon from "./icons/SltIcon.astro";
---

<header>
  <nav>
    <h2 class="slt-logo">
      <a class="slt-link" href="/">
        <SltIcon height="32px" width="32px"/>
        <span class="slt-text">Sign Language Tech</span>
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/vlogs">Vlogs</HeaderLink>
      <HeaderLink href="/talks">Talks</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://www.youtube.com/@SignLanguageTech" target="_blank">
        <span class="sr-only">Sign Language Tech YouTube</span>
        <YoututbeIcon height="32px" width="32px" />
      </a>
      <a href="https://twitter.com/miladvafaeifard" target="_blank">
        <span class="sr-only">Follow Me on Twitter</span>
        <TwitterIcon height="32px" width="32px" />
      </a>
      <a href="https://github.com/miladvafaeifard" target="_blank">
        <span class="sr-only">Go to Milad's GitHub</span>
        <GitHubIcon height="32px" width="32px" />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    justify-content: center;
  }

  .slt-link {
    display: flex;
    align-items: center;
  }

  .slt-text {
    padding: 0 10px;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
