---

---

<h1>Privacy Policy</h1>

<p><strong>Last updated:</strong> 19 Aug 2024</p>

<p>
  This Privacy Policy outlines how Sign Language Tech ("we", "our", or "us")
  collects, uses, and protects your information when you visit and interact with
  our website <a href='https://signlanguagetech.com'
    >https://signlanguagetech.com</a
  > ("Website"). By using the Website, you agree to the terms of this Privacy Policy.
  If you do not agree with these terms, please discontinue use of the Website immediately.
</p>

<h2>Information We Collect</h2>
<p>
  When you use our Website, we may collect certain information automatically
  through the use of cookies and similar technologies. This includes:
</p>
<ul>
  <li>
    <strong>Google Analytics:</strong> We use Google Analytics to track and analyze
    how visitors use our Website. Google Analytics may collect information about
    your browser type, operating system, pages visited, time spent on pages, and
    other similar information. This data is used to improve the functionality and
    user experience of our Website.
  </li>
  <li>
    <strong>YouTube Cookies:</strong> Our Website may embed YouTube videos. When
    you interact with these videos, YouTube may place cookies on your device. These
    cookies may collect information about your interaction with the video content,
    such as viewing history and preferences.
  </li>
</ul>

<h2>How We Use Your Information</h2>
<p>
  The information collected through Google Analytics and YouTube cookies is used
  for the following purposes:
</p>
<ul>
  <li>
    <strong>Improving User Experience:</strong> We use the data to understand how
    users interact with our Website, allowing us to make improvements and enhance
    user experience.
  </li>
  <li>
    <strong>Analyzing Trends:</strong> The information helps us analyze trends in
    Website traffic and usage patterns.
  </li>
  <li>
    <strong>Enhancing Content Delivery:</strong> YouTube cookies help us deliver
    relevant video content and improve your interaction with embedded videos.
  </li>
</ul>

<h2>Your Choices</h2>
<p>
  By continuing to use our Website, you consent to our use of cookies and the
  collection of information as described in this Privacy Policy. If you do not
  agree with these practices, please stop using our Website.
</p>
<p>
  You can also control and manage cookies through your browser settings. Most
  web browsers allow you to view, disable, or delete cookies on your device.
  Please note that disabling cookies may affect the functionality of certain
  features on our Website.
</p>

<h2>Third-Party service providers</h2>
<p>
  We use third-party Service Providers to monitor and analyze the use of our
  Website.
</p>
<ul>
  <li>
    <strong>Google Analytics</strong>, a web analytics service offered by Google
    that tracks and reports website traffic. For more information on the privacy
    practices of Google, please visit the <a
      href='https://policies.google.com/privacy?hl=en'
      target='_blank'>Google Privacy &amp; Terms.</a
    >
    <a href='https://policies.google.com/privacy?hl=en'></a>
  </li>
  <li>
    <strong>YouTube:</strong> Our Website may embed videos from YouTube, a video
    streaming service provided by Google. When you watch or interact with these embedded
    videos, YouTube may place cookies on your device and collect data regarding your
    interaction with the content. This information may include your viewing history,
    preferences, and other usage statistics, which are used to improve the delivery
    of video content and provide a personalized user experience. You can learn more
    about how YouTube handles your data by visiting their <a
      href='https://policies.google.com/privacy'
      target='_blank'>Privacy Policy</a
    >.
  </li>
</ul>

<h2>Third-Party Links</h2>
<p>
  Our Website may contain links to third-party websites or services, including
  YouTube. Please be aware that we are not responsible for the privacy practices
  of these third parties. We encourage you to review the privacy policies of
  these third-party websites or services before providing any personal
  information or using their services.
</p>

<h2>Changes to This Privacy Policy</h2>
<p>
  We may update this Privacy Policy from time to time to reflect changes in our
  practices or for other operational, legal, or regulatory reasons. Any changes
  will be effective immediately upon posting the updated Privacy Policy on our
  Website. We encourage you to review this Privacy Policy periodically to stay
  informed about how we are protecting your information.
</p>

<h2>Contact Us</h2>
<p>
  If you have any questions or concerns about this Privacy Policy, please
  contact us at: <a href='mailto:signlanguagetech@gmail.com'
    >signlanguagetech@gmail.com</a
  >
</p>

<p>
  By using our Website, you acknowledge that you have read and understood this
  Privacy Policy and agree to its terms. If you do not agree, please discontinue
  your use of the Website immediately.
</p>
