---
import '@docsearch/css';
---

<div id='search'></div>

<script>
  import docsearch from '@docsearch/js';

  const apiKey = import.meta.env.ALOGIA_PUBLIC_APP_ID;
  const appId = import.meta.env.ALOGIA_PUBLIC_APP_ID;
  const indexName = import.meta.env.ALOGIA_INDEX_NAME

  docsearch({
    container: '#search',
    appId,
    indexName,
    apiKey,
  });
</script>
