---
import '@docsearch/css';
---

<div id='search'></div>

<script>
  import docsearch from '@docsearch/js';

  const appId = import.meta.env.PUBLIC_ALOGIA_APP_ID;
  const apiKey = import.meta.env.PUBLIC_ALOGIA_API_KEY;
  const indexName = import.meta.env.PUBLIC_ALOGIA_INDEX_NAME;

  docsearch({
    container: '#search',
    appId,
    indexName,
    apiKey,
  });
</script>
