---
import { getCollection } from 'astro:content';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import StripeList from '../../components/StripeList.astro';
import Layout from '../../layouts/Layout.astro';

const talks = (await getCollection('talk')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const subTitle = SITE_TITLE + ' | inspring talks';
const subDescription = `${SITE_DESCRIPTION} | talks`;
---

<Layout title={subTitle} description={subDescription}>
  <main>
    <section class='talks-section'>
      <StripeList videoContents={talks} />
    </section>
  </main>
</Layout>
