---
import type { Pixel } from "../../model/model";

export interface Props {
  readonly height: Pixel;
  readonly width: Pixel;
  readonly dark?: boolean;
}

const { height, width, dark = false } = Astro.props;
const trangleBackFill = dark ? '#ffffff' : '#000000'
const trangleFrontFill = dark ? '#000000' : '#ffffff'
const trangleFrontStroke = dark ? '#ffffff': '#000000'
---

<style define:vars={{ trangleBackFill, trangleFrontFill, trangleFrontStroke }}>
  --trangleBackFill: var(--trangleBackFill);
  --trangleFrontFill: var(--trangleFrontFill);
  --trangleFrontStroke: var(--trangleFrontStroke);
</style>

<svg
  version="1.2"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 500 500"
  width={width}
  height={height}
>
  <style>
    .trangle-back {
      fill: var(--trangleBackFill);
    }
    .trangle-front {
      fill: var(--trangleFrontFill);
      stroke: var(--trangleFrontStroke);
      paint-order: stroke fill markers;
      stroke-linejoin: round;
      stroke-width: 6;
    }
  </style>
  <path
    fill-rule="evenodd"
    class="trangle-back"
    d="m204.3 61.5c-13.5-7.1-30.6-7.3-44.4-0.7-13.8 6.6-22.4 19-22.4 32.5v273.3c0 13.5 8.6 26 22.4 32.6 13.8 6.6 30.9 6.2 44.4-0.7l263.7-136.7c13.1-6.8 21.1-18.8 21.1-31.8 0-13.1-8-25-21.1-31.9z"
  ></path>
  <path
    fill-rule="evenodd"
    class="trangle-front"
    d="m62.1 131.6c-14.1-2.2-29.3 2.8-39.5 12.8-10.2 10-14.1 23.7-10 35.6l82.9 242c4.1 11.9 15.5 20.3 29.7 22 14.3 1.6 29.2-3.8 39.1-14.1l192-201c9.5-9.9 12.9-23 9-34.5-4-11.6-14.7-19.7-28.3-21.8z"
  ></path>
</svg>
<!-- </div> -->