---
import type { CollectionEntry } from 'astro:content';
import TagList from '../components/TagList.astro';
import type { Tag } from '../model/model';
import BlogList from '../components/BlogList.astro';

interface Props {
  readonly basePath: string;
  readonly tags: readonly Tag[];
  readonly blogs: readonly CollectionEntry<'blog'>[];
  readonly currentTag?: string;
}

const { tags, blogs, currentTag, basePath } = Astro.props;
---

<main class='main'>
  <div class='tag-chips'>
    <TagList basePath={basePath} tags={tags} currentTag={currentTag} />
  </div>
  <section class='videos-section'>
    <BlogList blogs={blogs} />
  </section>
</main>

<style>
  .main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
