---

---

<section class='section'>
  <slot />

  <style>
    .section {
      width: 700px;
    }

    @media (max-width: 720px) {
      .section {
        width: unset;
      }
    }
  </style>
</section>
