---
import type { CollectionEntry } from 'astro:content';

import GlossaryTitleList from '../components/GlossaryTitleList.astro';
import YtShort from '../components/YtShort.astro';

interface Props {
  glossaries: CollectionEntry<'glossary'>[];
  link?: string;
  currentGlossaryTitle?: string;
  currentSlug?: string;
}

const { glossaries, link, currentSlug, currentGlossaryTitle } = Astro.props;
---

<main class='main'>
  <div class='aside-left'>
    <GlossaryTitleList
      glossaries={glossaries}
      currentGlossaryTitle={currentGlossaryTitle}
      currentSlug={currentSlug}
    />
  </div>
  <slot />
  <aside class='aside-right'>
    {
      link && (
        <>
          <h4>How to Sign</h4>
          <YtShort link={link} />
        </>
      )
    }
  </aside>
</main>

<style>
  .main {
    display: flex;
    gap: 40px;
  }

  .aside-left {
    min-width: 160px;
  }

  @media (max-width: 720px) {
    .main {
      flex-direction: column;
    }
  }
</style>
