---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import ConsentBanner from '../components/ConsentBanner.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang='en'>
  <BaseHead title={title} description={description} />
  <body>
    <ConsentBanner />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  const dark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  const html = document.querySelector('html')

  dark && html?.setAttribute('data-theme', 'dark');
</script>
