---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'video' | 'talk'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<main class='main'>
  <article>
    <div class='mb-2'>
      <slot />
      <hr />
      <h1 class='title'>{title}</h1>
      <p class='description'>{description}</p>
      <div class='date'>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class='last-updated-on'>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
  </article>
</main>

<style>
  .title {
    margin: 0 0 20px 0;
  }

  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }

  .last-updated-on {
    font-style: italic;
  }
</style>
